### 1. Importing required libraries

In [1]:
from pymongo import MongoClient
import json
import pymongo
import pandas as pd

### 2. Connecting to the cluster in the cloud and test the connection

In [2]:
# connect to MongoDB
#client = MongoClient("mongodb+srv://root:xxx@xxx-e3kq8.gcp.mongodb.net/test?retryWrites=true&w=majority")
client = MongoClient("mongodb+srv://root:root89@reemhasan-e3kq8.gcp.mongodb.net/test?retryWrites=true&w=majority")
db = client.test
db

Database(MongoClient(host=['reemhasan-shard-00-00-e3kq8.gcp.mongodb.net:27017', 'reemhasan-shard-00-02-e3kq8.gcp.mongodb.net:27017', 'reemhasan-shard-00-01-e3kq8.gcp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='ReemHasan-shard-0', ssl=True), 'test')

### 3. Create database 'IndeedScrapedData'

In [3]:
# create database
myDB=client['IndeedScrapedData']

In [4]:
print(client.list_database_names())

['business', 'dataia', 'import_csv', 'admin', 'local']

### 4. Create a collection i.e table, inside the database 'IndeedScrapedData':
   * Scraped_all --> to stock inside it the scraped data for the data and developeur job offers
   * Data_withSalary --> stock scraped data with salary
   * Data_withoutSalary --> stock scraped data without salary

In [5]:
# create collection 
SalaryCollection= myDB['Data_withSalary']
NanSalaryCollection=myDB['Data_withoutSalary']
allCollection=myDB['Scraped_all']

In [6]:
print(myDB.list_collection_names())

[]

#### Create a compound index on the set of fields that uniquely identify a document within the  MongoDB collection.
      Where compound index used as primary key to identify every occurence of the fields defined in it

In [7]:
allCollection.create_index([('Company',pymongo.ASCENDING),('Location', pymongo.ASCENDING),('Title', pymongo.ASCENDING)],unique=True)        
SalaryCollection.create_index([('Company',pymongo.ASCENDING),('Location', pymongo.ASCENDING),('Title', pymongo.ASCENDING)],unique=True)        
NanSalaryCollection.create_index([('Company',pymongo.ASCENDING),('Location', pymongo.ASCENDING),('Title', pymongo.ASCENDING)],unique=True)

'Company_1_Location_1_Title_1'

### 5. Load the scraped data from indeed

##### 1. Import the scraped data with/without salary

In [8]:
dataSalary=pd.read_csv('DATA_WITH_SALARY.csv')
dataNanSalary=pd.read_csv('DATA_WITHOUT_SALARY.csv')
dataAll=pd.read_csv('DATA_FULL.csv')
print(dataSalary.shape)
print(dataNanSalary.shape)
print(dataAll.shape)

(777, 22)
(6080, 22)
(6857, 22)

###### Verify if there are duplicated documents

In [9]:
dataSalary.duplicated().any()

True

In [10]:
dataNanSalary.duplicated().any()

True

In [11]:
dataAll.duplicated().any()

True

### 6. Transform the dataframe into Json file to upload it into MongoDB

In [16]:
jsonSalary=dataSalary.to_dict('records')
jsonNanSalary=dataNanSalary.to_dict('records')
jsonAllData=dataAll.to_dict('records')

In [17]:
jsonAllData[1:2]

[{'Company': 'Elitegroup Recruitment',
  'Contract': 'Temps plein, CDI',
  'Count': 0,
  'Date': '2020-05-01',
  'Description': "Présentation de l'entreprise:Notre client est un cabinet de conseil en management et en technologie, créé fin 2014 par une équipe d’experts spécialisés en Data management, Business Intelligence, Big Data, Pilotage de la performance, CRM et Digital. La mission est d’accompagner les entreprises de tous secteurs via des approches innovantes de l’audit, du conseil et de la mise en œuvre. Leur savoir-faire est d’associer à la fois méthodes pragmatiques, expertise technologique et connaissance approfondie des métiers de nos clients et de leurs challenges.Descriptif du poste:Garantir la performance économique et opérationnelle des projets Big Data dont vous êtes garant (budget, productivité, qualité) ;Pilotage de projets aux forfaits ;Favoriser le développement et la montée et compétences des membres de votre équipe ;Réaliser des avant-ventes et participer aux réponses aux appels d’offre en collaboration avec la Direction Avant-vente, managers de BU et commerciaux ;Accompagner l’équipe commerciale sur la vente de projet Big Data ;Missions de conseil chez le client (en expertise technique ou chefferie de projet selon profil).Description du profil:De formation supérieure, vous avez au minimum 4 ans d’expériences sur des missions de pilotage et chefferie de projet Big data, et avez une bonne connaissance de l’écosystème Hadoop, d’API RESTfull, Architecture SOA, Ansible, Jenkins, Maven, Git, Spark, Kafka, Microsoft Azure, Elasticsearch, Kibana…Vous avez déjà géré ou contribué à la gestion d’un centre de profits en cabinet de conseil/ESN et avez déjà mené plusieurs missions de conseil qui vous ont permis d’acquérir une bonne maîtrise technique et fonctionnelle des problématiques Big Data.Type d'emploi : Temps plein, CDISalaire : 55 000,00€ à 75 000,00€ /anExpérience:chef de projet informatique H/F: 2 ans (Souhaité)Formation:Bac +5 (Master / MBA) (Souhaité)",
  'Location': 'Paris',
  'Rating': '3',
  'Title': 'Manager Big Data H/F',
  'avg_salary': 65000.0,
  'max_salary': 75000.0,
  'min_salary': 55000.0,
  'Dept': 75,
  'title_words': 'manager big data',
  'summary_words': "['présentation', 'entreprise', 'client', 'cabinet', 'conseil', 'management', 'technologie', 'créé', 'fin', 'équipe', 'experts', 'spécialisés', 'data', 'management', 'business', 'intelligence', 'big', 'data', 'pilotage', 'performance', 'crm', 'digital', 'mission', 'accompagner', 'entreprises', 'secteurs', 'approches', 'innovantes', 'audit', 'conseil', 'mise', 'œuvre', 'savoir', 'faire', 'associer', 'fois', 'méthodes', 'pragmatiques', 'expertise', 'technologique', 'connaissance', 'approfondie', 'métiers', 'clients', 'challenges', 'descriptif', 'poste', 'garantir', 'performance', 'économique', 'opérationnelle', 'projets', 'big', 'data', 'garant', 'budget', 'productivité', 'qualité', 'pilotage', 'projets', 'forfaits', 'favoriser', 'développement', 'montée', 'compétences', 'membres', 'équipe', 'réaliser', 'ventes', 'participer', 'réponses', 'appels', 'offre', 'collaboration', 'direction', 'vente', 'managers', 'commerciaux', 'accompagner', 'équipe', 'commerciale', 'vente', 'projet', 'big', 'data', 'missions', 'conseil', 'client', 'expertise', 'technique', 'chefferie', 'projet', 'profil', 'description', 'profil', 'formation', 'supérieure', 'minimum', 'ans', 'expériences', 'missions', 'pilotage', 'chefferie', 'projet', 'big', 'data', 'bonne', 'connaissance', 'écosystème', 'hadoop', 'api', 'restfull', 'architecture', 'soa', 'ansible', 'jenkins', 'maven', 'git', 'spark', 'kafka', 'microsoft', 'azure', 'elasticsearch', 'kibana', 'déjà', 'géré', 'contribué', 'gestion', 'centre', 'profits', 'cabinet', 'conseil', 'esn', 'déjà', 'mené', 'missions', 'conseil', 'permis', 'acquérir', 'bonne', 'maîtrise', 'technique', 'fonctionnelle', 'problématiques', 'big', 'data', 'type', 'emploi', 'temps', 'cdisalaire', 'anexpérience', 'chef', 'projet', 'informatique', 'ans', 'souhaité', 'formation', 'bac', 'master', 'mba', 'souhaité']",
  'contractWords': "['temps', 'plein', 'cdi']",
  'CDI': 1.0,
  'CDD': 0.0,
  'Freelance': 0.0,
  'Temps partiel': 0.0,
  'Temps plein': 1.0,
  'Unknown': 0.0,
  'Region': 'Île-de-France'}]

### 7. Insert data into MongoDB collections

In [18]:
def insertDocument(myCollection,jsonFile):
    for doc in jsonFile:
        try:
            myCollection.insert_one(doc) 
        except:
            pass

In [19]:
insertDocument(SalaryCollection,jsonSalary)

In [20]:
SalaryCollection.count_documents({})

737

In [21]:
insertDocument(NanSalaryCollection,jsonNanSalary)

In [22]:
NanSalaryCollection.count_documents({})

5690

In [23]:
insertDocument(allCollection,jsonAllData)

In [24]:
allCollection.count_documents({})

6411

Select just the two first rows

In [25]:
myresult = allCollection.find().limit(1)

In [26]:
for doc in myresult:
    print(doc)
    #print('\n\n')

{'_id': ObjectId('5ed314eff469cb9b183a84dd'), 'Company': 'Uptoo', 'Contract': 'Non renseigné', 'Count': 32, 'Date': '2020-05-13', 'Description': "À PROPOS :Bienvenue dans notre PME spécialiste de l'installation de systèmes de caméras de vidéosurveillance & d'alarmes pour professionnels et particuliers.CONSEIL - INSTALLATION - MAINTENANCE - SUIVI CLIENTDepuis 2012, nous observons une demande croissante de la part des petits commerces (30% du portefeuille global) et tendons à développer ce segment pour répondre à son besoin de sécurité.# Équipe bienveillante, positive, ambitieuse à taille humaine# Management très à l'écoute# Expertises commerciale et sécurité# Junior bienvenu.e : nous vous formerons, vous ferez évoluer votre carrière !??\u200d? Un parcours d'intégration vous est réservé les premières semaines avec votre Responsable Commercial.LES MISSIONS :Rejoignez notre équipe motivée, développez la région Nord-Pas-de-Calais !# CIBLE : petits commerces# Orienté 100% conquêteLe plan de chasse et la base de prospects en main, initier des relations commerciales engageantes, jouer sur la dynamique de réseau entre buralistesAssurer les négociations, les démonstrations éventuelles, les clôtures de contratsAssurer le suivi clientsReporter vos actions.LE PROFIL RECHERCHÉ :INTELLIGENCE RELATIONNELLE - GOÛT POUR LE CHALLENGE - MOTIVATIONVous développez from scratch un nouveau secteur à gros potentiel : votre fibre commerciale et votre tempérament chasseur sont vos atouts.>> Vous êtes animé.e par les défis ?Votre sens de l'écoute et votre vivacité d'esprit serviront vos objectifs.Doté.e d'une véritable intelligence sociale, vous faites preuve d'empathie et savez tisser des relations durables et de confiance avec vos interlocuteurs, à l'image de notre ADN axée 100% sécurité.Nous faisons confiance à nos collaborateurs et collaboratrices : intégrer l'équipe c'est aussi prendre part à nos visio-calls pour partager les réussites de chacun.e !# Expérience commerciale réussie en B2B et sur le terrain# À l'aise en home office# Perspectives d'évolutionLES AVANTAGES :Fixe 20-27k€+ variable sur CA pouvant atteindre 25-50k€+ prime trimestrielleVéhicule de fonction, frais repas, ordinateur et téléphonePourquoi postuler avec Uptoo ?1. +700 postes de commerciaux en quelques clics,2. Réponse sous 48h,3. RDV sous 7 jours,Le reste, c'est vous !Référence: 15880", 'Location': 'Arras', 'Rating': '4,5', 'Title': 'Business Developer – Expert sécurité', 'avg_salary': 41000.0, 'max_salary': 55000.0, 'min_salary': 27000.0, 'Dept': 62, 'title_words': 'business developer expert sécurité', 'summary_words': "['propos', 'bienvenue', 'pme', 'spécialiste', 'installation', 'systèmes', 'caméras', 'vidéosurveillance', 'alarmes', 'professionnels', 'particuliers', 'conseil', 'installation', 'maintenance', 'suivi', 'clientdepuis', 'observons', 'demande', 'croissante', 'part', 'petits', 'commerces', 'portefeuille', 'global', 'tendons', 'développer', 'segment', 'répondre', 'besoin', 'sécurité', 'équipe', 'bienveillante', 'positive', 'ambitieuse', 'taille', 'humaine', 'management', 'écoute', 'expertises', 'commerciale', 'sécurité', 'junior', 'bienvenu', 'formerons', 'ferez', 'évoluer', 'carrière', 'parcours', 'intégration', 'réservé', 'premières', 'semaines', 'responsable', 'commercial', 'missions', 'rejoignez', 'équipe', 'motivée', 'développez', 'région', 'nord', 'calais', 'cible', 'petits', 'commerces', 'orienté', 'conquêtele', 'plan', 'chasse', 'base', 'prospects', 'main', 'initier', 'relations', 'commerciales', 'engageantes', 'jouer', 'dynamique', 'réseau', 'buralistesassurer', 'négociations', 'démonstrations', 'éventuelles', 'clôtures', 'contratsassurer', 'suivi', 'clientsreporter', 'actions', 'profil', 'recherché', 'intelligence', 'relationnelle', 'goût', 'challenge', 'motivationvous', 'développez', 'scratch', 'secteur', 'gros', 'potentiel', 'fibre', 'commerciale', 'tempérament', 'chasseur', 'atouts', 'animé', 'défis', 'sens', 'écoute', 'vivacité', 'esprit', 'serviront', 'objectifs', 'doté', 'véritable', 'intelligence', 'sociale', 'faites', 'preuve', 'empathie', 'savez', 'tisser', 'relations', 'durables', 'confiance', 'interlocuteurs', 'image', 'adn', 'axée', 'sécurité', 'faisons', 'confiance', 'collaborateurs', 'collaboratrices', 'intégrer', 'équipe', 'prendre', 'part', 'visio', 'calls', 'partager', 'réussites', 'expérience', 'commerciale', 'réussie', 'terrain', 'aise', 'home', 'office', 'perspectives', 'évolutionles', 'avantages', 'fixe', 'variable', 'pouvant', 'atteindre', 'prime', 'trimestriellevéhicule', 'fonction', 'frais', 'repas', 'ordinateur', 'téléphonepourquoi', 'postuler', 'uptoo', 'postes', 'commerciaux', 'clics', 'réponse', 'rdv', 'jours', 'référence']", 'contractWords': "['nan']", 'CDI': 0.0, 'CDD': 0.0, 'Freelance': 0.0, 'Temps partiel': 0.0, 'Temps plein': 0.0, 'Unknown': 1.0, 'Region': 'Hauts-de-France'}

 Searching for a specific document

In [27]:
cursor=allCollection.find({'job_title': 'Data Analyst H/F'})
#for doc in cursor:
    #print(doc,'\n')

### 8. Update the dataset

Insert a New Document if No Match Exists (Upsert)
When you specify the option upsert: true:

* If document(s) match the query criteria, db.collection.update() performs an update.
* If no document matches the query criteria, db.collection.update() inserts a single document.

In [ ]:
# update all the documents in the dataset
#result = myCollection.update_many('newfileJSon', upsert=True)

### 9. Fetch the stored documents from MongoDB and stock them in dataframe to use them in ML models

In [28]:
def fetchData(collection):
    # Make a query to the specific DB and Collection
    cursor = collection.find()
    # Expand the cursor and construct the DataFrame
    df =  pd.DataFrame(list(cursor))
    # Delete the _id
    del df['_id']
    return df

###### . Fetch data from Scraped_all

In [29]:
AllMongo=fetchData(allCollection)
AllMongo.head(3)

,Company,Contract,Count,Date,Description,Location,Rating,Title,avg_salary,max_salary,...,title_words,summary_words,contractWords,CDI,CDD,Freelance,Temps partiel,Temps plein,Unknown,Region
0,Uptoo,Non renseigné,32,2020-05-13,À PROPOS :Bienvenue dans notre PME spécialiste...,Arras,"4,5",Business Developer – Expert sécurité,41000.0,55000.0,...,business developer expert sécurité,"['propos', 'bienvenue', 'pme', 'spécialiste', ...",['nan'],0.0,0.0,0.0,0.0,0.0,1.0,Hauts-de-France
1,Elitegroup Recruitment,"Temps plein, CDI",0,2020-05-01,Présentation de l'entreprise:Notre client est ...,Paris,3,Manager Big Data H/F,65000.0,75000.0,...,manager big data,"['présentation', 'entreprise', 'client', 'cabi...","['temps', 'plein', 'cdi']",1.0,0.0,0.0,0.0,1.0,0.0,Île-de-France
2,sumit,"Temps plein, CDI",0,2020-05-20,"Chez sumit, nous ne voyons pas nos consultants...",Lille,3,Consultant(e) Business Intelligence (Power Bi)...,35000.0,40000.0,...,consultant business intelligence power,"['sumit', 'voyons', 'consultants', 'simple', '...","['temps', 'plein', 'cdi']",1.0,0.0,0.0,0.0,1.0,0.0,Hauts-de-France

###  Delete all the documents (rows) in the collection

In [ ]:
#allCollection.delete_many({})

###  Delete the collection

In [ ]:
#allCollection.drop()