### 1. Importing required libraries

In [1]:
from pymongo import MongoClient
import json
import pymongo
import pandas as pd

### 2. Connecting to the cluster in the cloud and test the connection

In [2]:
# connect to MongoDB
#client = MongoClient("mongodb+srv://root:xxx@xxx-e3kq8.gcp.mongodb.net/test?retryWrites=true&w=majority")
client = MongoClient("mongodb+srv://root:root89@reemhasan-e3kq8.gcp.mongodb.net/test?retryWrites=true&w=majority")
db = client.test
db

Database(MongoClient(host=['reemhasan-shard-00-00-e3kq8.gcp.mongodb.net:27017', 'reemhasan-shard-00-02-e3kq8.gcp.mongodb.net:27017', 'reemhasan-shard-00-01-e3kq8.gcp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='ReemHasan-shard-0', ssl=True), 'test')

### 3. Create database 'IndeedScrapedData'

In [3]:
# create database
myDB=client['IndeedScrapedData']

In [4]:
print(client.list_database_names())

['business', 'dataia', 'import_csv', 'admin', 'local']

### 4. Create a collection i.e table, inside the database 'IndeedScrapedData':
   * Scraped_all --> to stock inside it the scraped data for the data and developeur job offers

In [5]:
# create collection 
#DataCollection= myDB['Scraped_Data']
#DevCollection=myDB['Scraped_Dev']
allCollection=myDB['Scraped_all']

In [18]:
print(myDB.list_collection_names())

['Scraped_all']

#### Create a compound index on the set of fields that uniquely identify a document within the  MongoDB collection.
      Where compound index used as primary key to identify every occurence of the fields defined in it

In [17]:
allCollection.create_index([('Company',pymongo.ASCENDING),('Location', pymongo.ASCENDING),('Title', pymongo.ASCENDING)],unique=True)

'Company_1_Location_1_Title_1'

### 5. Load the scraped data from indeed

##### 1. Import the scraped data for data job offers

In [8]:
data=pd.read_csv('scrapedClean.csv')
data.head(5)

,Company,Count,Date,Description,Location,Rating,Title,avg_salary,max_salary,min_salary,Dept,CDI,CDD,Freelance,Temps partiel,Temps plein,Type_Notknown
0,Socomec,32,2020-05-27,Référence de l'annonce : H-SSA-2019-59QUI SOMM...,Benfeld,"3,7",Responsable Business Intelligence (BI) H/F,NaN,NaN,NaN,67,0.0,0.0,0.0,0.0,0.0,1.0
1,BCA Expertise,0,2020-05-27,"Leader français de l'expertise automobile, BCA...",Asnières-sur-Seine,3,Data Analyst - Business Intelligence H/F,NaN,NaN,NaN,92,1.0,0.0,0.0,0.0,1.0,0.0
2,Pôle Lille Métropole,59,2020-05-27,"CONTEXTEAvec 36 000 salariés, Ramsay Santé est...",Lille,"2,9",Directeur du contrôle financier - H/F,NaN,NaN,NaN,59,1.0,0.0,0.0,0.0,1.0,0.0
3,Tereos,99,2020-05-27,Intitulé du posteDEMAND PLANNING AND FORECAST ...,Moussy-le-Vieux,"4,1",DEMAND PLANNING AND FORECAST MANAGER H/F,NaN,NaN,NaN,77,0.0,0.0,1.0,0.0,1.0,0.0
4,Solutec,20,2020-05-27,Vous cherchez à rejoindre une équipe dynamique...,Toulouse,"3,3",Consultant Business Intelligence H/F,NaN,NaN,NaN,31,0.0,1.0,0.0,0.0,0.0,0.0

In [9]:
data.shape

(6701, 17)

In [10]:
data.isna().mean().round(4) * 100

Company           0.01
Count             0.00
Date              0.00
Description       0.45
Location          0.00
Rating            0.00
Title             0.00
avg_salary       88.67
max_salary       88.67
min_salary       88.67
Dept              0.00
CDI               0.00
CDD               0.00
Freelance         0.00
Temps partiel     0.00
Temps plein       0.00
Type_Notknown     0.00
dtype: float64

###### Verify if there are duplicated documents

In [11]:
data.duplicated().any()

False

### 6. Transform the dataframe into Json file to upload it into MongoDB

In [12]:
jsonData=data.to_dict('records')
#jsonFile=data.to_json(orient='records')

In [13]:
jsonData[1:2]

[{'Company': 'BCA Expertise',
  'Count': 0,
  'Date': '2020-05-27',
  'Description': "Leader français de l'expertise automobile, BCA Expertise emploie 1400 collaborateurs dont 600 experts et 400 conseillers clients répartis dans 42 Unités d'Expertise et 16 Centres de Service Client. Sa vocation première est la réalisation d'expertises automobiles sur l'ensemble du territoire français, pour le compte notamment de compagnies d'assurance, de courtiers, de constructeurs et de particuliers.Vous intégrerez la Direction Pilotage et Performance du Siège Social situé à Asnières-sur-Seine, composée de 10 personnes.La DPP joue un rôle clé dans le pilotage stratégique et opérationnel de l'entreprise. En synergie avec les autres directions, elle œuvre afin de mettre en place et réaliser les outils de pilotage et/ou les études qui répondront au mieux aux besoins des clients internes et externes.La mission consiste à réaliser de projets de Business Intelligence répondant aux besoins des opérationnels.Rattaché(e) à la Responsable Pilotage Opérationnel vous prendrez part à :- La réalisation d'analyses de data mining répondant à une problématique de l'entreprise, de la direction Pilotage Performance ou de l'un de nos clients- La création de tableaux de bord et de reporting sur Power BI- La spécification des besoins « Data » dans le cadre de l'évolution du système opérationnel et la mise en place d'une plateforme Salesforce (comparaison de données, qualité des données, vérification de la complétude, format des champs…)- La réalisation d'extraction de données pour répondre à des demandes utilisateurs- La mise en place et le maintien d'aides à l'utilisation des outils BI à la disposition des opérationnelsSelon l'activité de la direction Pilotage et Performance, d'autres missions connexes pourront vous être confiées.Vous êtes titulaire d'un diplôme de niveau Bac +4/5 spécialisé en Analyse Data Mining et/ou Décisionnel. Vous connaissez le système de gestion de base de données (SGBD) et vous avez connaissance du langage SQL.Vous disposez d'une première expérience (Stage, CDD, CDI).Bon relationnel, dynamisme, esprit de synthèse, rigueur, force de proposition, esprit d'équipe, sont des qualités qui vous caractérisent. Vous maîtrisez les outils bureautiques (Excel, Word, Power Point) et saurez vulgariser votre activité auprès d'un public non averti.Alors rejoignez-nous !La connaissance de l'outil Power BI serait appréciée.Poste à pourvoir en CDI.BCA Expertise compte de nombreux avantages :- Mutuelle, fond de garantie, CE, intéressement, RTT et nombreux CP,- Package salariale composé d'un fixe et d'un bonus objectif selon profil.Les postes sont à pourvoir au Siège Social qui propose une salle de sport, un parking, des services (Conciergerie et autres) et un Restaurant Inter-Entreprises.Proximité RER C Les Grésillions.Job Type: Full-time",
  'Location': 'Asnières-sur-Seine ',
  'Rating': '3',
  'Title': 'Data Analyst - Business Intelligence H/F',
  'avg_salary': nan,
  'max_salary': nan,
  'min_salary': nan,
  'Dept': 92,
  'CDI': 1.0,
  'CDD': 0.0,
  'Freelance': 0.0,
  'Temps partiel': 0.0,
  'Temps plein': 1.0,
  'Type_Notknown': 0.0}]

### 7. Insert data into MongoDB collections

In [14]:
def insertDocument(myCollection,jsonFile):
    for doc in jsonFile:
        try:
            myCollection.insert_one(doc) 
        except:
            pass

###### . Insert into Scraped_all collection

In [20]:
insertDocument(allCollection,jsonData)

In [21]:
allCollection.count_documents({})

6701

Select just the two first rows

In [27]:
myresult = allCollection.find().limit(1)

In [28]:
for doc in myresult:
    print(doc)
    #print('\n\n')

{'_id': ObjectId('5ecef6936fbfe30159597f97'), 'Company': 'Socomec', 'Count': 32, 'Date': '2020-05-27', 'Description': "Référence de l'annonce : H-SSA-2019-59QUI SOMMES-NOUS ?Quand le courant est vital, quand la lumière est indispensable, quand l’activité est cruciale, Socomec fournit des solutions adaptées aux installations critiques.Groupe industriel indépendant, Socomec réunit plus de 3600 personnes réparties dans 28 filiales à travers le monde avec un chiffre d’affaires de 537 millions d’euros. Rejoindre Socomec, c’est s’engager au sein d’une entreprise qui se développe grâce à l’innovation dans un environnement dynamique, ouvert et convivial.C’est aussi rejoindre une société en pleine expansion internationale, engagée pour un développement durable, au service de la transition énergétique.VOS MISSIONSRattaché au Directeur des Systèmes d'Information, vous participez à la définition de la politique BI du groupe en relation avec les membres de la direction, les experts métiers, les chefs de projets informatiques. Vous mettez en œuvre des projets BI d’envergure et encadrez une équipe de 2 personnes.Vous facilitez la récupération de l’information et leur diffusion dans l’entreprise pour permettre aux décideurs de prendre les meilleures décisions et définir les plans d’actions sur des projets stratégiques.Vous prenez en charge des projets de mise en place d’indicateurs, d’outils d’analyse de données et de reporting dans un objectif de fiabilité et d’amélioration de la qualité des données.Vous accompagnez les utilisateurs dans la définition de leur besoin, mettez en œuvre la solution et assurez les évolutions et le support.En tant que manager, vous vous appuyez sur votre équipe pour atteindre les objectifs du service. Vous êtes garant du développement de leurs compétences ainsi que de leur implication dans les différents projets.Vous assurez la maintenance des outils et des applications en tenant compte des nouveaux besoins et des évolutions technologiques.Profil requisDiplômé d’une formation supérieure en informatique, mathématiques ou statistiques, vous disposez de compétences dans les outils décisionnels, notamment sur les :ETL (Oracle Data Integrator)Logiciels de reporting et d’analyse de données : IBM Cognos, Qlikview, Qlik SenseBases de données : langage SQLStimulé par les environnements challengeants avec une forte dimension internationale, vous êtes un expert dans le traitement des données et justifiez d’une expérience significative sur un poste similaire.Votre esprit d’analyse et votre aisance relationnelle vous permettent d’évoluer au sein d’un environnement complexe avec différents niveaux d’interlocuteurs.La maîtrise de l’anglais est indispensable.", 'Location': 'Benfeld ', 'Rating': '3,7', 'Title': 'Responsable Business Intelligence (BI) H/F', 'avg_salary': nan, 'max_salary': nan, 'min_salary': nan, 'Dept': 67, 'CDI': 0.0, 'CDD': 0.0, 'Freelance': 0.0, 'Temps partiel': 0.0, 'Temps plein': 0.0, 'Type_Notknown': 1.0}

 Searching for a specific document

In [29]:
cursor=allCollection.find({'job_title': 'Data Analyst H/F'})
#for doc in cursor:
    #print(doc,'\n')

### 8. Update the dataset

Insert a New Document if No Match Exists (Upsert)
When you specify the option upsert: true:

* If document(s) match the query criteria, db.collection.update() performs an update.
* If no document matches the query criteria, db.collection.update() inserts a single document.

In [ ]:
# update all the documents in the dataset
#result = myCollection.update_many('newfileJSon', upsert=True)

### 9. Fetch the stored documents from MongoDB and stock them in dataframe to use them in ML models

In [30]:
def fetchData(collection):
    # Make a query to the specific DB and Collection
    cursor = collection.find()
    # Expand the cursor and construct the DataFrame
    df =  pd.DataFrame(list(cursor))
    # Delete the _id
    del df['_id']
    return df

###### . Fetch data from Scraped_all

In [31]:
AllMongo=fetchData(allCollection)
AllMongo.head(5)

,Company,Count,Date,Description,Location,Rating,Title,avg_salary,max_salary,min_salary,Dept,CDI,CDD,Freelance,Temps partiel,Temps plein,Type_Notknown
0,Socomec,32,2020-05-27,Référence de l'annonce : H-SSA-2019-59QUI SOMM...,Benfeld,"3,7",Responsable Business Intelligence (BI) H/F,NaN,NaN,NaN,67,0.0,0.0,0.0,0.0,0.0,1.0
1,BCA Expertise,0,2020-05-27,"Leader français de l'expertise automobile, BCA...",Asnières-sur-Seine,3,Data Analyst - Business Intelligence H/F,NaN,NaN,NaN,92,1.0,0.0,0.0,0.0,1.0,0.0
2,Pôle Lille Métropole,59,2020-05-27,"CONTEXTEAvec 36 000 salariés, Ramsay Santé est...",Lille,"2,9",Directeur du contrôle financier - H/F,NaN,NaN,NaN,59,1.0,0.0,0.0,0.0,1.0,0.0
3,Tereos,99,2020-05-27,Intitulé du posteDEMAND PLANNING AND FORECAST ...,Moussy-le-Vieux,"4,1",DEMAND PLANNING AND FORECAST MANAGER H/F,NaN,NaN,NaN,77,0.0,0.0,1.0,0.0,1.0,0.0
4,Solutec,20,2020-05-27,Vous cherchez à rejoindre une équipe dynamique...,Toulouse,"3,3",Consultant Business Intelligence H/F,NaN,NaN,NaN,31,0.0,1.0,0.0,0.0,0.0,0.0

###  Delete all the documents (rows) in the collection

In [33]:
#allCollection.delete_many({})

###  Delete the collection

In [34]:
#allCollection.drop()